body
{
	background-color: white;
	color: black;

	font-family: helvetica;

	text-align: left;
	margin: auto;

	max-width: 8in;
}

h1
{
	font-size: 36pt;
	margin-bottom: 2pt;
}

h2
{
	font-size: 24pt;
	margin-bottom: 2pt;
}

h3
{
	font-size: 16pt;
	margin-bottom: 2pt;
}

p
{
	font-size: 14pt;
}

.title
{
	font-size: 48pt;
	font-weight: bold;
	text-decoration: none;
	color: black;
	margin-bottom: 8pt;
}

.line
{
  	height: 0;
  	border: 2pt solid rgb(126, 126, 126);
	border-radius: 2pt;
	margin-bottom: 16pt;
}

a
{
	font-size: 14pt;
	color: rgb(92, 92, 92);
	text-decoration: none;
	line-height: 16pt;
}

a:not(.title):hover
{
	font-size: 16pt;
	color: black;
}

label, legend, fieldset
{
	font-size: 16pt;
	font-weight: bold;
	display: block;
	margin-bottom: 2pt;
}

textarea, select, input[type]
{
	color: #000000;
	padding: 4px 6px;
	background-color: #e5e5e5;
	border: 1px solid #e5e5e5;
	border-radius: 0px;
	box-shadow: none;
	box-sizing: border-box;
	margin-bottom: 12px;
}
textarea:focus, select:focus, input[type]:focus
{
	border: 1px solid #808080;
	outline: 0;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"]
{
	display: inline-block;
	padding: 4px 6px;
	text-align: center;
	white-space: nowrap;
	background-color: #ffffff;
	color: #000000;
	border-radius: 1px;
	border: 1px solid #000000;
}
.button[disabled], button[disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled]
{
	cursor: default;
	opacity: .5;
}
.button:focus, .button:hover, button:focus, button:hover, input[type="submit"]:focus, input[type="submit"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="button"]:focus, input[type="button"]:hover
{
	background-color: #000000;
	border-color: #000000;
	color: #ffffff;
	outline: 0;
}

